<div class="members-wrapper">
	<div class="members-header">
		<mat-icon (click)="contactsOpen = !contactsOpen" *ngIf="contactsOpen">arrow_drop_down</mat-icon>
		<mat-icon (click)="contactsOpen = !contactsOpen" *ngIf="!contactsOpen" class="closedArrow">arrow_drop_down</mat-icon>
		<h4 class="members-text">
			<mat-icon>people_outline</mat-icon>
			<p>Direktnachrichten</p>
		</h4>
	</div>
	<ul class="contact-list scrollbar-none" *ngIf="contactsOpen">
		<ng-container *ngFor="let chat of this.contactService.contactChats; let i = index">
			<li class="member-container pointer" (click)="this.openContactChat(this.chat)">
				<div class="person-img-wrapper">
					<img src="{{ chat.contact.userImg }}" alt="">
					<div class="status-point" [ngClass]="{'online-point': chat.contact.userOnline, 'offline-point': !chat.contact.userOnline}"></div>
				</div>
				<p>{{ chat.contact.userName }}</p>
			</li>
		</ng-container>
	</ul>
</div>
