.members-header, .members-text {
	display: flex;
	align-items: center;
	gap: var(--chatGap);
}

.contact-list {
	padding-left: 30px;
	max-height: 55vh;
	margin-top: var(--chatGap);
		
	img{
		width: 30px;
		margin-right: 10px;
	}

	li {
		margin-bottom: var(--bodyPadding);

		&:first-child {
			margin-top: calc(var(--bodyPadding) - var(--chatGap));
		}
	}
}

