.message-window-header {
	padding: var(--bodyPadding);
	
	h3 {
		margin-bottom: var(--chatGap);
	}
}

.inputfield-wrapper {
	background-color: var(--colorWhite);
	border: 1px solid var(--colorPurple);
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	gap: 0;

	&:focus-within { 
		.search-result-wrapperer {
			margin-top: -26px;
		}
	}

	input{
		background-color: var(--colorWhite);
		margin: 0 var(--chatGap);
	}
}

.message-window-body {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
	flex: 1;
}

.search-result-wrapperer {
	display: flex;
	flex-direction: row;
	gap: var(--chatGap);
	padding: var(--chatGap) 0;
	min-width: 100%;
	overflow-y: auto;

	&::-webkit-scrollbar {
		display: none; 
}

&::-webkit-scrollbar-thumb {
		display: none; 
}

	img {
		width: 25px;
	}

	p {
		font-size: 0.9rem;
	}

	.purple-hover {
		padding: 4px var(--chatGap);
	}
}
