.message-window-header {
	padding: var(--bodyPadding);
	
	h3 {
		margin-bottom: var(--chatGap);
	}
}

.inputfield-wrapper {
	background-color: var(--colorWhite);
	border: 1px solid var(--colorPurple);
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	gap: 0;

	input{
		background-color: var(--colorWhite);
		margin: 0 var(--chatGap);
	}
}

.message-window-body {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
	flex: 1;
}

.search-result-wrapperer {
	display: flex;
	flex-direction: row;
	gap: var(--chatGap);
	padding: var(--chatGap) 0;
	min-width: 100%;
	overflow-x: auto;
	margin-top: -18px;

	&::-webkit-scrollbar {
		display: none; 
}

&::-webkit-scrollbar-thumb {
		display: none; 
}

	img {
		width: 25px;
	}

	p {
		font-size: 0.9rem;
	}

	.purple-hover {
		padding: 4px var(--chatGap);
		background-color: var(--colorBackground);
		text-wrap: nowrap;
	}
}

.member-container {
	mat-icon {
		&:first-child, &:first-child:hover {
			transform: translateX(var(--chatGap));
		}
	}

	&:hover {
		color: var(--colorPurple);

		mat-icon {
			color: var(--colorPurple);
		}
	}
}

.found-user {
	background-color: var(--colorPurple);
	padding: 4px var(--chatGap);
	margin: var(--chatGap) 0;
	color: white;
	border-radius: 25px;

	mat-icon {
		color: white;

		&:first-child:hover {
			color: white;
		}

	}

	&:hover {
		color: white;
		mat-icon {
			color: var(--colorWhite);
		}
	}
}
