<div class="message-window-header">
	<h3>Neue Nachricht</h3>
	<form [formGroup]="channelFinderForm">
		<div class="inputfield-wrapper">
			<input type="text" placeholder="An: #channel, oder @jemand oder E-Mail-Adresse" formControlName="recipient">
			<ng-container *ngIf="this.searchingUser">
				<div class="search-result-wrapperer">
					<ng-container *ngFor="let profile of this.foundProfiles">
						<div class="search-result member-container purple-hover pointer" (click)="selectUser(profile.id)">
							<img src='{{ profile.userImg }}' alt="Profile image from {{ profile.userName }}" class="profil-img">
							<p>{{ profile.userName }}</p>
						</div>
					</ng-container>
				</div>
			</ng-container>
		</div>
	</form>
</div>
<div class="message-window-body">
	<app-textfield class="posFix"></app-textfield>
</div>
