<div class="pop-up-background" (click)="this.openCloseService.openAddChannelMembers = false">
	<div class="pop-up-container" (click)="$event.stopPropagation()">
		<div class="space-between">
			<h4>Mitglieder hinzufügen</h4>
			<mat-icon (click)="this.openCloseService.openAddChannelMembers = false" class="pointer">close</mat-icon>
		</div>
		<p class="channel-name"><mat-icon>numbers</mat-icon>{{ this.openedChannelService.openedChannel.channelName }}</p>
		<form [formGroup]="chatAddMemberForm">
			<div class="inputfield-wrapper">
				<input type="text" placeholder="Name eingeben" formControlName="member">
			</div>
		</form>
		<ng-container *ngIf="searchingUser">
			<div class="search-result-wrapperer">
				<ng-container *ngFor="let profile of foundMembers, let i = index">
					<div class="search-result member-container purple-hover pointer" (click)="selectProfile(profile.id, i)" >
						<img src='{{ profile.userImg }}' alt="Profile image from {{ profile.userName }}" class="profil-img">
						<p>{{ profile.userName }}</p>
					</div>
				</ng-container>
			</div>
		</ng-container>
		<button class="primary-btn one-btn" type="submit" [disabled]="isAddedButtonDisabled()" (click)="this.addChatMember(this.openedChannelService.openedChannel.id)">Hinzufügen</button>
	</div>
</div>
