.channel-name {
	display: flex;
	align-items: center;
	color: var(--colorPurple);
	font-size: 1.2rem;
	font-weight: 200;

	mat-icon {
		font-size: 1.4rem;
	}
}

.member-container {
	display: flex;
	gap: var(--chatGap);
	align-items: center;
	padding: var(--chatGap);
}

.select-profile {
	background-color: var(--colorPurple);
	color: var(--colorWhite);
}