.sidebar-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: var(--bodyPadding);
	max-height: var(--chatHeaderMaxWidth);
	
	img {
		width: 40px;
	}

	mat-icon {
		font-size: 1.2rem;
	}
}



