<ng-container *ngIf="message">
	<div class="message-wrapper" [ngClass]="{'user-message-wrapper': message.writerId === this.fireAuthService.fireUser.uid}">
		<img src="{{ message.writerImg }}" alt="">
		<div class="message-container">
			<div class="first-line">
				<h6>{{ message.writerName }}</h6><p class="time text-light">{{ message.time }}</p>
			</div>
			<div class="message">{{ message.text }}</div>
			<div class="answer-container">
				<!-- !hier fehlen noch daten -->
					<div class="answer-amount">2 Anworten</div>
					<div class="last-answer-time text-light">Letzte Antwort 14:56</div>
				</div>
			<div class="smilies-wrapper">
				<ng-container *ngIf="message.reactions.length > 0">
				<div class="smilie-container pointer" *ngFor="let emoji of message.reactions" (click)="addEmoji(emoji.item, message)">
					<div class="smilie">{{ emoji.item }}</div>
					<ng-container *ngIf="emoji.amount > 1">
						<div class="smilie-amount">{{ emoji.amount }}</div>
					</ng-container>
				</div>
			</ng-container>
				<div class="add-icon-container">
					<mat-icon class="pointer" (click)="toggleEmojis()">add_reaction_outline</mat-icon>
						<ng-container *ngIf="allEmojisOpen">
							<div class="all-emojies-wrapper scrollbar-none">
								<div class="emoji-list-item" *ngFor="let emoji of this.allEmojis">
									<div class="emoji pointer" (click)="addEmoji(emoji.unicode, message)">{{emoji.unicode}}</div>
								</div>
							</div>
						</ng-container>
				</div>
			</div>
		</div>
	</div>
</ng-container>
