<ng-container *ngIf="message && message.deletedMessage">
	<div class="deleted-container">
		<mat-icon>block</mat-icon>
		{{ message.text }}
	</div>
</ng-container>
<ng-container *ngIf="message && !message.deletedMessage">
	<div class="message-wrapper" [ngClass]="{'user-message-wrapper': message.writerId === this.fireAuthService.fireUser.uid}" >
		<ng-container *ngIf="editMessageWindow">
			<form class="inputfield-wrapper" [formGroup]="textfieldForm">
				<textarea name="" id=""  rows="5" class="scrollbar-none" formControlName="textarea"></textarea>
				<div class="work-icon-container">
					<mat-icon style="color: green" (click)="saveEditMessage(this.textfieldForm.value.textarea)" >check</mat-icon>
					<mat-icon style="color: red" (click)="closeEditMessage()">close</mat-icon>
				</div>
			</form>
		</ng-container>
		<img src="{{ message.writerImg }}" alt="">
		<div class="message-container">
			<div class="first-line">
				<h6>{{ message.writerName }}</h6>
				<p class="time text-light">{{ message.time }} Uhr
				</p>
				<div class="between"></div>
				<ng-container *ngIf="message.lastEditedTime">
					<p class="edited-message text-light">geändert
						<ng-container *ngIf="message.lastEditedTime.date !== this.chatMessageService.today.dateNumber && message.lastEditedTime.year !== this.chatMessageService.today.year">{{ message.lastEditedTime.date }}<ng-container *ngIf="message.lastEditedTime.year !== this.chatMessageService.today.year">{{ message.lastEditedTime.year }}
							</ng-container> - 
						</ng-container>
						{{ message.lastEditedTime.time }} Uhr
					</p>
				</ng-container>
			</div>
			<div class="message">{{ message.text }}</div>
			<div class="answer-container">
				<!-- !ANSWER CONTAINER -->
					<div class="answer-amount">2 Anworten</div>
					<div class="last-answer-time text-light">Letzte Antwort 14:56</div>
				</div>
			<div class="smilies-wrapper">
				<ng-container *ngIf="message.reactions.length > 0">
				<div class="smilie-container pointer" *ngFor="let emoji of message.reactions" (click)="addEmoji(emoji.item)">
					<div class="smilie">{{ emoji.item }}</div>
					<ng-container *ngIf="emoji.amount > 1">
						<div class="smilie-amount">{{ emoji.amount }}</div>
					</ng-container>
					<div class="reaction-users-container">
						<ng-container *ngFor="let user of emoji.reactionUsers">
							<div class="reaction-users">
								{{ user.name }}
							</div>
						</ng-container>				
					</div>
				</div>
			</ng-container>
				<div class="add-icon-container">
					<mat-icon class="pointer" (click)="toggleEmojis()">add_reaction_outline</mat-icon>
						<ng-container *ngIf="allEmojisOpen">
							<div class="emojis-background pointer" (click)="toggleEmojis()"></div>
							<div class="all-emojies-wrapper scrollbar-none">
								<div class="emoji-list-item" *ngFor="let emoji of this.allEmojis">
									<div class="emoji pointer" (click)="addEmoji(emoji.unicode)">{{emoji.unicode}}</div>
								</div>
							</div>
						</ng-container>
				</div>
			</div>
		</div>
			<div class="work-icon-container">
				<ng-container *ngIf="message.writerId === this.fireAuthService.fireUser.uid">
					<mat-icon (click)="editMessage(message)">edit</mat-icon>
					<mat-icon (click)="deleteMessage()">delete</mat-icon>
				</ng-container>
				<ng-container *ngIf="message.writerId !== this.fireAuthService.fireUser.uid">
					<mat-icon (click)="answerToMessage()">reply</mat-icon>
				</ng-container>
			</div>
		</div>
</ng-container>