
mat-icon {
	color: var(--colorPurple);
}

img {
	border-radius: 50%;
	width: 30px;
	aspect-ratio: 1/1;
}

.add-icon-container {
	position: relative;
}

.all-emojies-wrapper {
	position: absolute;
	top: 30px;
	left: 0;
	z-index: 20;
	display: flex;
	justify-content: center;
	gap: 5px;
	flex-wrap: wrap;
	width: 40vw;
	height: 300px;
	background-color: var(--colorBackground);
	padding: var(--chatGap);
	border: 1px solid var(--colorPurple);
	border-radius: 10px;


}

.emojis-background {
	width: 100svw;
	height: 100svh;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 20;	
	background: rgba(0,0,0, 0.1);
}

.emoji-list-item {
	font-size: 2rem;
}

.user-message-wrapper {

	.smilies-wrapper, .answer-container {
		justify-content: flex-end;
	}

	.all-emojies-wrapper {
		right: 0;
		left: auto;
	}
}

.smilie-container {
	position: relative;
	background-color: var(--colorWhite);

	.reaction-users-container {
		display: none;
		position: absolute;
		top: 50px;
		z-index: 30;
		padding: 4px 8px;
		background-color: var(--colorBackground);
		border: 1px solid var(--colorPurple);
		border-radius: 10px;
		font-size: 0.7rem;
		width: min-content;
		text-wrap: nowrap;

		.reaction-users {
			margin-bottom: 8px;
   .message{
				background-color: var(--colorWhite);
		}

			&:last-child {
				margin-bottom: 0;
			}
		}

	}

	&:hover .reaction-users-container {
		display: block;

	}
}

.message-wrapper {
position: relative;

	&:hover{
		.work-icon-container {
			display: flex;
	}
}
}

.message-container {
	max-width: 85%;
}

.work-icon-container {
		display: none;
		flex-direction: column;
		align-self: space-around;
		gap: 24px;
	

		mat-icon {
			cursor: pointer;
			padding: 4px;
			background-color: var(--colorWhite);
			border-radius: 50%;
			font-size: 1rem;
			text-align: center;
		}
	}

	.message-wrapper:has(.inputfield-wrapper) {
		&:hover {
			background-color: var(--colorBackground);
			margin: 0;
			padding: 4px 0;
		}
	}

	.inputfield-wrapper {
		position: absolute;
		z-index: 50;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		border-radius: 0;
		margin: 0 auto;
		padding: var(--bodyPadding);
		border: 1px solid var(--colorPurple);
		background-color: var(--colorBackground);

		textarea {
			border: none;
			width: 85%;
			background-color: var(--colorBackground);

			&:focus {
				outline: none;
			}
		}

		.work-icon-container {
			height: 100%;
			justify-content: space-between;
			margin-top: 0;
			gap: var(--bodyPadding);
		}
}

.first-line {
	display: flex;
	gap: var(--chatGap);
	width: 100%;
}

.between {
	flex: 1;
}

.edited-message {
	display: block;
	font-size: 0.7rem;
	text-align: center;
	border-radius: 25px;
	background-color: var(--colorBackground);
	border: 1px solid var(--colorPurple);
	padding: 4px;
	margin-bottom: -20px;
}





