.channel-header {
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.channel-text {
	flex: 1;

	> * {
		display: inline-block;
	}

}

.channel-img {
	width: 20px;
	margin-right: 10px;
}