<div class="channel-wrapper">
	<div class="channel-header">
		<mat-icon>arrow_drop_down</mat-icon>
		<h4 class="channel-text">
			<img src="assets/img/no-mat-icons/channel-purple.svg" class="channel-img" alt="">
			<p>Channel</p>
		</h4>
		<mat-icon>add</mat-icon>
	</div>
	<ul class="channel-list scrollbar-none">
		<li><mat-icon>numbers</mat-icon><p>channel</p></li>
		<li><mat-icon>numbers</mat-icon><p>channel</p></li>
		<li><mat-icon>numbers</mat-icon><p>channel</p></li>
		<li><mat-icon>numbers</mat-icon><p>channel</p></li>
		<li><mat-icon>numbers</mat-icon><p>channel</p></li>
		<li><mat-icon>numbers</mat-icon><p>channel</p></li>
		<li><mat-icon>numbers</mat-icon><p>channel</p></li>
		<li><mat-icon>numbers</mat-icon><p>channel</p></li>
		<li><mat-icon>numbers</mat-icon><p>channel</p></li>
		<li><mat-icon>numbers</mat-icon><p>channel</p></li>
		<li><mat-icon>numbers</mat-icon><p>channel</p></li>
		<li><mat-icon>add_circle_outline</mat-icon><p>add channel</p></li>
	</ul>
</div>