<div class="channel-wrapper">
	<div class="channel-header">
		<mat-icon (click)="channelsOpen = !channelsOpen" *ngIf="channelsOpen">arrow_drop_down</mat-icon>
		<mat-icon (click)="channelsOpen = !channelsOpen" *ngIf="!channelsOpen" class="closedArrow">arrow_drop_down</mat-icon>
		<h4 class="channel-text">
			<img src="assets/img/no-mat-icons/channel-purple.svg" class="channel-img" alt="">
			<p>Channel</p>
		</h4>
		<mat-icon (click)="this.chatService.openAddChannel = true" >add</mat-icon>
	</div>
	<ul class="channel-list scrollbar-none" *ngIf="channelsOpen">
		<ng-container *ngFor="let channel of this.chatService.userChannels">
			<li class="pointer" (click)="this.chatService.chatOpen = true" (click)="openChannel(channel.id)"><mat-icon>numbers</mat-icon><p>{{ channel.channelName }}</p></li>
		</ng-container>
		<li><mat-icon>add_circle_outline</mat-icon><p>add channel</p></li>
	</ul>
</div>
<app-add-channel *ngIf="this.chatService.openAddChannel"></app-add-channel>