<div class="main-chat-header">
	<ng-container *ngIf="this.openedChannelService.openedChannel">
		<div class="chat-name">
			<mat-icon>numbers</mat-icon>
			<h3>{{ this.openedChannelService.openedChannel.channelName }}</h3>
			<mat-icon>arrow_drop_down</mat-icon>
		</div>
		<div class="chat-persons">
			<div class="purple-hover" (click)="this.openedChannelService.openChatMembers = true">
				<div class="person-images pointer" *ngFor="let member of this.openedChannelService.openedChannel.members">
					<img src="{{ member.userImages }}" alt="">
				</div>
				<p class="person-amounts">
					{{ this.openedChannelService.openedChannel.usersAmount }}
				</p>
		</div>
			<mat-icon class="icon-background pointer" (click)="this.openedChannelService.openAddChatMembers = true">person_add_alt</mat-icon>
		</div>
	</ng-container>
</div>
	<app-chat-members class="pop-up-wrapper" *ngIf="this.openedChannelService.openChatMembers"></app-chat-members>
<app-add-chat-members *ngIf="this.openedChannelService.openAddChatMembers" class="pop-up-wrapper"></app-add-chat-members>
<div class="chat-wrapper">
	<div class="chat-container scrollbar-none">
		<ng-container *ngFor="let message of this.chatMessageService.channelMessages; let i = index">
			<ng-container *ngIf="i === 0 || message.date !== this.chatMessageService.channelMessages[i - 1].date">
				<app-chat-date [date]="message.date"></app-chat-date>
			</ng-container>
			<app-message-wrapper [message]="message"></app-message-wrapper>
		</ng-container>
	</div>
	<app-textfield class="posFix"></app-textfield>
</div>