<div class="main-chat-header">
	<ng-container *ngIf="this.openedChannelService.openedChannel">
		<div class="chat-name">
			<mat-icon>numbers</mat-icon>
			<h3>{{ this.openedChannelService.openedChannel.channelName }}</h3>
			<mat-icon>arrow_drop_down</mat-icon>
		</div>
		<div class="chat-persons">
			<div class="purple-hover">
				<div class="person-images pointer" *ngFor="let member of this.openedChannelService.openedChannel.members" (click)="this.openedChannelService.openChatMembers = true" >
					<img src="{{ member.userImages }}" alt="">
				</div>
				<p class="person-amounts">
					{{ this.openedChannelService.openedChannel.usersAmount }}
				</p>
		</div>
			<mat-icon class="icon-background pointer" (click)="this.openedChannelService.openAddChatMembers = true">person_add_alt</mat-icon>
		</div>
		<app-chat-members *ngIf="this.openedChannelService.openChatMembers" class="pop-up-wrapper"></app-chat-members>
		<app-add-chat-members *ngIf="this.openedChannelService.openAddChatMembers" class="pop-up-wrapper"></app-add-chat-members>
	</ng-container>
</div>
<div class="chat-container scrollbar-none">
	<ng-container *ngFor="let message of this.chatMessageService.channelMessages">
		{{ message.text }}
	</ng-container>
	<app-chat-date></app-chat-date>
	<app-message-wrapper></app-message-wrapper>
	<app-message-wrapper></app-message-wrapper>
	<app-chat-date></app-chat-date>
	<app-message-wrapper></app-message-wrapper>
	<app-chat-date></app-chat-date>
	<app-message-wrapper></app-message-wrapper>
	<app-chat-date></app-chat-date>
	<app-message-wrapper></app-message-wrapper>
	<app-textfield class="posFix"></app-textfield>
</div>
