.main-chat-header {
	display: flex;
	justify-content: space-between;
	padding: 25px 45px;
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
}

.chat-name, .chat-persons {
	display: flex;
	gap: var(--chatGap);
	align-items: center;
}

.person-images {
	display: flex;

	img {
		width: 30px;
		border: 1px solid var(--colorWhite);
		border-radius: 50%;
		margin-left: -8px
	}
}

.icon-background {
	background: var(--colorBackground);
	border-radius: 50%;
	padding: 7px;
	font-size: 1.2rem;
	width: 30px;
	height: 30px
}

.chat-container {
	padding: var(--bodyPadding);
	display: flex;
	flex-direction: column;
	gap: var(--bodyPadding);
}

app-chat-date {
	margin: 22px 0 -22px 0;
}

