.animation-wrapper {
	// position: absolute;
	// top: 0;
	// left: 0;
	height: 100vh;
	height: 100svh;
	width: 100%;
	background: linear-gradient(0deg, var(--colorPurpleDark) 0%, var(--colorPurple) 100%);
}



