.check-in-header-wrapper, .chat-header-wrapper {
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 0;
	left: 0;
	padding: var(--bodyPadding);
	gap: var(--chatGap);
}


.logo-wrapper {
	display: flex;
	align-items: center;
}

.logo-container {
	width: var(--logoWidth);
	display: inline-block;
}

.logo-text {
	display: inline-block;
	margin-left: 10px;
	font-size: var(--logoFontsize);
}

// chat header
.chat-header-wrapper {
	display: flex;
	width: 100%;

	.logo-wrapper {
		width: var(--widthChatLeft);
	}
}

.searchfield {
	flex: 1;
	background-color: var(--colorWhite);
	margin: 10px 0;

	input {
		background-color: var(--colorWhite);
	}
}

.user-header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: var(--widthChatRight);
	gap: 8px;
	cursor: pointer;
}

.person-img-wrapper {

	img {
		border-radius: 50%;
	}

}




@media screen and (max-width: 620px) {

	.chat-header-wrapper {

		.logo-wrapper {
			width: 25%;
		}

		.user-header {
			width: auto;

			p {
				display: none;
			}
		}
	}

}

@media screen and (max-width: 620px) {

	.chat-header-wrapper {
		justify-content: space-between;
		min-width: 100svw;

		.logo-wrapper {
			width: auto;
		}

		.searchfield {
			width: 90%;
			position: absolute;
			top: 50px;
			left: 5%;
		}

	}

}
