.headerWrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: var(--bodyPadding);
}

.logo-wrapper {
	display: flex;
	align-items: center;
}

.logo-container {
	width: var(--logoWidth);
	display: inline-block;
}

.logo-text {
	display: inline-block;
	margin-left: 10px;
	font-size: var(--logoFontsize);
}
