
<ng-container *ngIf="router.url === '/'">
  <div class="check-in-header-wrapper">
    <div class="logo-wrapper">
      <div class="logo-container">
        <img src="assets/img/logoDABubble.svg" alt="Loge DABubble" />
      </div>
      <div class="logo-text">DABubble</div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="router.url === '/chat' || router.url === '/impressum' || router.url === '/datenschutz'">
  <div class="chat-header-wrapper">
    <div class="logo-wrapper">
      <div class="logo-container">
        <img src="assets/img/logoDABubble.svg" alt="Loge DABubble" />
      </div>
      <div class="logo-text">DABubble</div>
    </div>
    <div class="searchfield inputfield-wrapper">
      <input type="text" placeholder="Code learning durchsuchen">
      <mat-icon>search</mat-icon>
    </div>
    <div class="user-header" (click)="this.openCloseService.navOpen = true">
      <ng-container *ngIf="this.fireAuthService.fireUser !== null">
        <p>{{ this.fireAuthService.fireUser.displayName  }}</p>
        <div class="person-img-wrapper">
          <img src= '{{ this.fireAuthService.fireUser.photoURL }}' alt="">
          <div class="status-point online-point"></div>
        </div>
        <mat-icon>arrow_drop_down</mat-icon>
      </ng-container>
    </div>
    <app-navigation *ngIf="this.openCloseService.navOpen"></app-navigation>
  </div>
</ng-container>
