.check-in-header-wrapper, .chat-header-wrapper {
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 0;
	left: 0;
	padding: var(--bodyPadding);
	gap: var(--chatGap);
}


.logo-wrapper {
	display: flex;
	align-items: center;
}

.logo-container {
	width: var(--logoWidth);
	display: inline-block;
}

.logo-text {
	display: inline-block;
	margin-left: 10px;
	font-size: var(--logoFontsize);
}

// chat header
.chat-header-wrapper {
	display: flex;
	width: 100%;

	.logo-wrapper {
		width: var(--widthChatLeft);
	}
}

.searchfield {
	flex: 1;
	background-color: var(--colorWhite);
	margin: 10px 0;

	input {
		background-color: var(--colorWhite);
	}
}

.user-header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: var(--widthChatRight);
	gap: 8px;
	cursor: pointer;
}


@media screen and (max-width: 600px) {

	.check-in-header-wrapper {
		position: inherit;
	
	}

}
