<h1 class="check-in-headline"><div class="back-arrow text-btn" (click)="checkInSiteServiceService.changeCheckInSite('logIn')">&larr;</div>Passwort zurücksetzen</h1>
<p>Bitte geben Sie Ihre E-Mail-Adresse ein.</p>
<form [formGroup]="resetPasswordForm" class="check-in-form">
	<div class="inputfield-wrapper">
		 <mat-icon>mail_outline</mat-icon>
			<input formControlName="password" type="password" placeholder="Neues Passwort">
			<ng-container *ngIf="resetPasswordForm.controls['password'].touched">
				<p class="error" *ngIf="resetPasswordForm.controls['password'].errors?.['required']"> *Dieses Feld ist ein Pflichtfeld.
				</p>
				<p class="error" *ngIf="resetPasswordForm.controls['password'].errors?.['pattern']"> *Diese E-Mail-Adresse ist ungültig.
				</p>
			</ng-container>
			<input formControlName="confirmPassword" type="password" placeholder="Neues Passwort">
			<ng-container *ngIf="resetPasswordForm.controls['confirmPassword'].touched">
				<p class="error" *ngIf="resetPasswordForm.controls['password'].errors?.['required']"> *Dieses Feld ist ein Pflichtfeld.
				</p>
				<!-- ! hier  -->
				<p *ngIf="resetPasswordForm.get('confirmPassword').hasError('passwordMismatch')">
					Passwörter stimmen nicht
			</p>
			</ng-container>
	</div>	
</form>
<button class="primary-btn" type="submit" [disabled]="!resetPasswordForm.valid" (click)="resetPassword()">E-Mail senden</button>
