<h1 class="check-in-headline"><div class="back-arrow text-btn" (click)="checkInSiteServiceService.changeCheckInSite('logIn')">&larr;</div> <div class="arrow-header">Passwort zurücksetzen</div> </h1>
<form [formGroup]="resetPasswordForm" class="check-in-form">
	<div class="inputfield-wrapper">
			<input formControlName="password" type="password" placeholder="Neues Passwort">
			<ng-container *ngIf="resetPasswordForm.controls['password'].touched">
				<p class="error" *ngIf="resetPasswordForm.controls['password'].errors?.['required']"> *Dieses Feld ist ein Pflichtfeld.
				</p>
				<p class="error" *ngIf="resetPasswordForm.controls['password'].errors?.['pattern']"> *Das Passwort sollte Groß- und Kleinbuchstaben haben. Zudem mindestens eine Zahl und ein Sonderzeichen.
				</p>
			</ng-container>
	</div>	
	<div class="inputfield-wrapper">
			<input formControlName="confirmPassword" type="password" placeholder="Passwort wiederholen">
			<ng-container *ngIf="resetPasswordForm.controls['confirmPassword'].touched">
				<p class="error" *ngIf="resetPasswordForm.controls['confirmPassword'].errors?.['required']"> *Dieses Feld ist ein Pflichtfeld.
				</p>
				<p class="error" *ngIf="resetPasswordForm.errors?.['passwordmatcherror'] && !resetPasswordForm.controls['confirmPassword'].errors?.['required'] ">
					* Die Passwörter stimmen nicht überein.
				</p>		
			</ng-container>
	</div>	
	<button class="primary-btn one-btn" type="submit" [disabled]="!resetPasswordForm.valid" (click)="resetPassword()">Passwort ändern</button>
</form>

