<div class="check-in-wrapper">
	<div class="check-in-container">
		<app-animation *ngIf="firstTime"></app-animation>
		<app-log-in *ngIf="checkInSiteServiceService.checkInSite == 'logIn'"></app-log-in>
		<app-sign-in *ngIf="checkInSiteServiceService.checkInSite == 'signIn'"></app-sign-in>
		<app-choose-avatar *ngIf="checkInSiteServiceService.checkInSite == 'chooseAvatar'"></app-choose-avatar>
		<app-reset-email *ngIf="checkInSiteServiceService.checkInSite == 'resetEmail'"></app-reset-email>
		<app-reset-password *ngIf="checkInSiteServiceService.checkInSite == 'resetPassword'"></app-reset-password>
	</div>
	<div *ngIf="checkInSiteServiceService.checkInSite == 'logIn'" class="text-btn-wrapper">
		<div class="text-btn" routerLink="impressum">
			Impressum
		</div>
		<div class="text-btn" routerLink="datenschutz">
			Datenschutzerklärung
		</div>
	</div>
</div>