
.check-in-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	height: 100svh;
	width: 100%;
	background-color: var(--colorBackground);
}

.check-in-container {
	padding: var(--bodyPadding);
	background-color: var(--colorWhite);
	border-radius: 30px;
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
	max-width: calc(606px - var(--bodyPadding) - var(--bodyPadding));

	>* {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: var(--bodyPadding);
	}
}

.text-btn-wrapper {
	position: absolute;
	bottom: var(--bodyPadding);
	display: flex;
	justify-content: center;
	gap: var(--bodyPadding);
}


@media screen and (max-width: 600px) {

	.check-in-wrapper {
		height: auto;
		flex-direction: column;
	}

	.text-btn-wrapper {
		position: inherit;
	}

}
