.textfield-backdrop {
	background: var(--colorWhite);
	box-shadow: 6px -5px 12px 6px rgba(255, 255, 255, 0.4);
	padding: var(--bodyPadding);
}

.textfield-wrapper {
	border-radius: 25px;
	border: solid 1px #000;
	display: flex;
	flex-direction: column;
	padding: var(--chatGap);
	gap: var(--chatGap);
	position: relative;


	&:focus-within { //with '-within' we can style the parent of focused elements
		border: 1px solid var(--colorPurple);
	}

	textarea {
		border: none;
		width: 100%;

		&:focus {
				outline: none;
		}
	}
}

.textfield-bottom {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.icon-container {
	display: flex;
	align-items: center;

	gap: var(--chatGap);

	mat-icon {
		color: var(--colorTextGrey);
		font-size: 1.4rem;
		cursor: pointer;
		position: relative;
		z-index: 30;	

	&:hover {
			color: var(--colorPurple);
		}
	}

	.abc {
		width: min-content;
		font-size: 2rem;
	}
}

.textfield-backdrop .all-emojies-wrapper {
	top: -104px;
	width: 100%;
	height: 100px;
	overflow: auto;
	border-radius: 25px;
}

button.textfield-btn {
	padding: 0;
}

.textfield-btn {
	background-color: var(--colorWhite);
	border: none;

	&:enabled mat-icon {
		&:hover {
			color: var(--colorPurple);
			cursor: pointer;
		}
	}
	
}

