<div class="textfield-backdrop">
	<form class="textfield-wrapper" [formGroup]="textfieldForm">
		<textarea name="" id="" rows="3" placeholder="Aa" formControlName="textarea"></textarea>
			<div class="textfield-bottom">
				<div class="icon-container">
					<mat-icon (click)="toggleEmojis()" *ngIf="!this.textEmojisOpen">add_reaction_inline</mat-icon>
					<mat-icon (click)="toggleEmojis()" *ngIf="this.textEmojisOpen" class="abc">abc</mat-icon>
					<mat-icon (click)="toogleOpenImage(chatOrThread)" >add_photo_alternate</mat-icon>
				</div>
					<button class="textfield-btn" [disabled]="!textfieldForm.valid" (click)="sendMessage(this.textfieldForm.value.textarea)">
						<mat-icon>send</mat-icon>
					</button>
			</div>
			<ng-container *ngIf="this.textEmojisOpen">
				<div class="emojis-background pointer" (click)="toggleEmojis()"></div>
				<div class="all-emojies-wrapper scrollbar-none">
					<div class="emoji-list-item pointer" *ngFor="let emoji of allEmojis" (click)="selectEmoji(emoji.unicode)">
						{{ emoji.unicode }}
					</div>
				</div>
			</ng-container>
	</form>
</div>
<app-add-image *ngIf="this.openCloseService.openImage" ></app-add-image>
