.chat-site-wrapper {
	display: flex;
	gap: var(--chatGap);

	>* {
		margin-top: calc(var(--bodyPadding)*4);
		height: calc(100svh - var(--bodyPadding)*5);
		border-radius: 25px;
		background: var(--colorWhite);

	}
}

.contact-site {
	width: var(--widthChatLeft);
	padding: var(--bodyPadding);
}

.main-chat {
	flex: 1;
	padding: 0;
	overflow: hidden;
}

.thread-site {
	width: var(--widthChatRight);
	padding: var(--bodyPadding);
}