<div class="chat-site-wrapper">
	<app-sidebar-left class="contact-site" *ngIf="sidebarOpen"></app-sidebar-left>
	<app-main-chat class="main-chat"></app-main-chat>
	<app-thread-right class="thread-site" *ngIf="threadOpenCloseService.threadOpen"></app-thread-right>
</div>	
<div class="sidebar-close-area" (click)="sidebarOpen = !sidebarOpen">
	<p *ngIf="sidebarOpen">Workspace-Menü schließen</p>
	<img *ngIf="sidebarOpen" src="assets/img/no-mat-icons/sidebar-close.svg" alt="">
	<p *ngIf="!sidebarOpen" class="closed-sidebar">Workspace-Menü öffnen</p>
	<img *ngIf="!sidebarOpen" class="closed-sidebar" src="assets/img/no-mat-icons/sidebar-open.svg" alt="">
</div>
