.chat-site-wrapper {
	display: flex;
	gap: var(--chatGap);

	>* {
		margin-top: calc(var(--bodyPadding)*4);
		height: calc(100svh - var(--bodyPadding)*5);
		border-radius: 25px;
		background: var(--colorWhite);
		padding: var(--bodyPadding);
	}
}

.contact-site {
	width: var(--widthChatLeft);
}

.main-chat {
	flex: 1;
}

.thread-site {
	width: var(--widthChatRight);
}