		<div class="pop-up-container" (click)="$event.stopPropagation()">
			<div class="space-between">
				<h4>Profilebild hochladen</h4>
				<mat-icon (click)="this.openCloseService.imgUploadOpen = false" class="pointer">close</mat-icon>
			</div>
			<div class="inputfield-wrapper">
				<input type="file" accept="image/*" (change)="selectFile($event)" />
				<button class="btn btn-success btn-sm float-right" [disabled]="!selectedFiles" (click)="upload()"> 
					Upload
				</button>
			</div>
			<div class="upload-container">
				<ng-container *ngIf="preview">
					<div class="upload-preview">
						<img [src]="preview">
					</div>
				</ng-container>
				<div *ngIf="currentFile" class="progress">
					<!-- && progress -->
					<div
							class="progress-bar progress-bar-info"
							role="progressbar"
							attr.aria-valuenow="{{ progress }}"
							aria-valuemin="0"
							aria-valuemax="100"
							[ngStyle]="{ width: progress + '%' }"
							[ngStyle]="{ width: 70 + '%' }"
					>
							{{ progress }}%
					</div>
				</div>
			</div>
			
			<div *ngIf="errorMessage" class="error" role="alert">
				{{ errorMessage }}
			</div>
			<div class="card mt-3">
				<ul class="list-group list-group-flush">
						<li *ngFor="let image of imageInfos | async" class="list-group-item">
								<p><a href="{{ image.url }}">{{ image.name }}</a></p>
								<img src="{{ image.url }}" alt="{{ image.name }}" height="80px" />
						</li>
				</ul>
			</div>
		</div>


