/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorBackground: #eceefe;
  --colorFont: #000;
  --colorPurpleLight: #adb0d9;
  --colorPurple: #797ef3;
  --colorPurpleDark: #444df2;
  --colorTextGrey: #686868;
  --colorWhite: #fff;
  --colorErrorRed: rgb(248, 75, 75); 
	--bodyPadding: 2rem;
  --logoWidth: 50px;
  --logoFontsize: 2rem;
  --widthChatLeft: 20%;
  --widthChatRight: 25%;
}

body {
	background: var(--colorBackground);
	padding: 0 var(--bodyPadding);
	width: 100%;
}

img {
	width: 100%;
	height: auto;
}

body { 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

// buttons

button {
  cursor: pointer;
  border-radius: 100px;
  padding: 12px 25px;

  &:disabled {
    cursor: auto;
    background-color: var(--colorTextGrey);
  }
}

.text-btn {
  color: var(--colorPurple);
  padding: 5px 15px;
  border-radius: 100px;
  cursor: pointer;

  &:hover {
    background-color: var(--colorBackground);
  }
}

.primary-btn {
  color: var(--colorWhite);
  background-color: var(--colorPurple);

  &:hover {
    filter: brightness(1.2);
  }
}

.secondary-btn {
  color: var(--colorPurple);
  border-color: var(--colorPurple);
  background-color: var(--colorWhite);

  &:hover {
    color: var(--colorWhite);
    background-color: var(--colorPurple);
  }
}



//check in area

.check-in-headline {
  color: var(--colorPurpleDark);
  position: relative;
  width: 100%;
	text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-right: 30px;
}

.check-in-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--bodyPadding);
  width: 80%;
}

.inputfield-wrapper{
	background-color: var(--colorBackground);
  display: flex;
  align-items: center;
  padding: 0 32px;
  gap: 32px;
  border-radius: 100px;
  position: relative;

  &:focus-within { //with '-within' we can style the parent of focused elements
    border: 1px solid var(--colorPurple);
  }

  mat-icon {
    color: var(--colorTextGrey);
    min-width: min-content;
  };

  input {
    background-color: var(--colorBackground);
    border: none;
    padding: 18px 0;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}

.error {
  position: absolute;
  bottom: -16px;
  left: 32px;
  color: var(--colorErrorRed);
  font-size: 0.6rem;
}

.back-arrow {
	color: var(--colorFont);
  width: 20px;
 	overflow: hidden;
	text-align: center;

	&:hover {
		background-color: var(--colorWhite);
	}
}

.check-in-container p {
  text-align: center;
}

.one-btn {
  align-self: flex-end;
}

.checkbox-wrapper {
  padding-left: 32px;

  input {
    margin-right: 10px;
  }
}


@media screen and (max-width: 600px) {

  .check-in-headline {
    padding-left: 50px;
  }

  .back-arrow {
    position: absolute;
    left: 0;
    top: 0;
    line-height: 20px;
  }

  .check-in-form {
    width: 100%;
  }

}

@media screen and (max-width: 420px) {

  :root {
    --bodyPadding: 1.5rem;
  }

  .check-in-headline {
    font-size: 1rem;
  }

  .back-arrow {
    font-size: 2rem;
  }

}