/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorBackground: #eceefe;
  --colorFont: #000;
  --colorPurpleLight: #adb0d9;
  --colorPurple: #797ef3;
  --colorPurpleDark: #444df2;
  --colorTextGrey: #686868;
  --colorWhite: #fff;
  --colorErrorRed: rgb(248, 75, 75); 
	--bodyPadding: 1.5rem;
  --chatGap: 10px;
  --logoWidth: 50px;
  --logoFontsize: 2rem;
  --widthChatLeft: 20%;
  --widthChatRight: 25%;
  --chatHeaderMaxWidth: 60px;
}

body {
	background: var(--colorBackground);
	padding: 0 var(--bodyPadding);
	width: 100%;
}

img {
	width: 100%;
	height: auto;
}

body { 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

li {
  list-style: none;
  display: flex;
  align-items: center;
}

// *random global classes
.text-light {
	font-weight: 100;
}

.pointer {
  cursor: pointer;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--bodyPadding);
}

.posFix {
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 20;
}


// *buttons
button {
  cursor: pointer;
  border-radius: 100px;
  padding: 12px 25px;

  &:disabled {
    cursor: auto;
    background-color: var(--colorTextGrey);
  }
}

.text-btn {
  color: var(--colorPurple);
  padding: 5px 15px;
  border-radius: 100px;
  cursor: pointer;

  &:hover {
    background-color: var(--colorBackground);
  }
}

.primary-btn {
  color: var(--colorWhite);
  background-color: var(--colorPurple);

  &:hover {
    filter: brightness(1.2);
  }
}

.secondary-btn {
  color: var(--colorPurple);
  border-color: var(--colorPurple);
  background-color: var(--colorWhite);

  &:hover {
    color: var(--colorWhite);
    background-color: var(--colorPurple);
  }
}

.purple-hover {
	border-radius: 30px;

 &:hover {
  background-color: var(--colorBackground);
  color: var(--colorPurple);
 }
}

.person-img-wrapper {
	position: relative;
	width: 36px;	
 
	img {
		width: 30px;
    border-radius: 50%;
	}
}

.status-point {
  background-color: rgb(89, 223, 89);
  box-shadow: 0px 0px 16px 4px rgba(19, 175, 19, 0.28);
  position: absolute;
  height: 10px;
  width: 10px;
  bottom: 4px;
  right: 5px;
  z-index: 1;
  border-radius: 50%;
  border: 1.4px solid var(--colorBackground);
}

.closedArrow {
	transform: rotate(-90deg);
}

//check in area

.check-in-headline {
  color: var(--colorPurpleDark);
  position: relative;
  width: 100%;
	text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-right: 30px;
}

.check-in-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--bodyPadding);
  width: 80%;
}

.inputfield-wrapper{
	background-color: var(--colorBackground);
  display: flex;
  align-items: center;
  padding: 0 32px;
  gap: 32px;
  border-radius: 100px;
  position: relative;

  &:focus-within { //with '-within' we can style the parent of focused elements
    border: 1px solid var(--colorPurple);
  }

  mat-icon {
    color: var(--colorTextGrey);
    min-width: min-content;
  };

  input {
    background-color: var(--colorBackground);
    border: none;
    padding: 18px 0;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}

.spinner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  .mat-mdc-progress-spinner  {
    --mdc-circular-progress-active-indicator-color: var(--colorPurple)
  }
}

.fire-error-message {
	color: var(--colorErrorRed);
	font-size: 1.5rem;
	padding: 15px 30px;
	border-radius: 25px;
	border: 2px solid var(--colorErrorRed);
	background-color: var(--colorWhite);
	position: absolute;
	top: 50vh;
}

.successful-message {
	color: var(--colorWhite);
	font-size: 2rem;
	padding: 30px 60px;
	border-radius: 25px;
	background-color: var(--colorPurpleDark);
	position: absolute;
	bottom: 20vh;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slideIn 300ms ease-in-out forwards;
}

//*pop ups
.pop-up-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
  width: 100%;
}

.pop-up-background {
  display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0, 0.6);
  height: 100vh;
	height: 100svh;
	width: 100%;
}

.pop-up-container {
  padding: var(--bodyPadding);
	background-color: var(--colorWhite);
	border-radius: 30px;
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
	display: flex;
	gap: var(--bodyPadding);
	flex-direction: column;
}



@keyframes slideIn {
  
  from {
    bottom: -25vh;
  }
}


.error {
  position: absolute;
  bottom: -16px;
  left: 32px;
  color: var(--colorErrorRed);
  font-size: 0.6rem;
}

.back-arrow {
	color: var(--colorFont);
  width: 20px;
 	overflow: hidden;
	text-align: center;

	&:hover {
		background-color: var(--colorWhite);
	}
}

.check-in-container p {
  text-align: center;
}

.one-btn {
  align-self: flex-end;
}

.checkbox-wrapper {
  padding-left: 32px;

  input {
    margin-right: 10px;
  }
}

// chats-area
.message-wrapper, .first-line, .answer-container, .smilies-wrapper, .smilie-container {
	display: flex;
	gap: var(--chatGap);
	align-items: center;

	img {
		width: 30px;
		height: 30px;
		align-self: flex-start;
	}
}

.user-message-wrapper {
  flex-direction: row-reverse;

  .message {
    border-radius: 25px 0 25px 25px;
  }
}

.message {
	border-radius: 0 25px 25px 25px;
	padding: var(--chatGap);
	background: var(--colorBackground);
}

.smilie-container {
	border: 1px solid var(--colorBackground);
	border-radius: 25px;
	padding: 2px 8px;
}

//invisible scrollbar

.scrollbar-none {
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none; 
  }

  &::-webkit-scrollbar-thumb {
    display: none; 
  }
}




@media screen and (max-width: 600px) {

  .check-in-headline {
    padding-left: 50px;
  }

  .back-arrow {
    position: absolute;
    left: 0;
    top: 0;
    line-height: 20px;
  }

  .check-in-form {
    width: 100%;
  }

}

@media screen and (max-width: 420px) {

  :root {
    --bodyPadding: 1.5rem;
  }

  .check-in-headline {
    font-size: 1rem;
  }

  .back-arrow {
    font-size: 2rem;
  }

}