<h1 class="check-in-headline">Anmeldung</h1>
<p>Wir empfehlen dir, die E-Mail-Adresse zu nutzen die du bei der Arbeit verwendest.</p>

<p>Just for testing: {{ logInForm.value | json }}</p>

<form [formGroup]="logInForm" class="check-in-form">
	<div class="inputfield-wrapper">
		 <mat-icon>mail_outline</mat-icon>
			<input formControlName="email" type="email" placeholder="beispielname@email.com">
			<ng-container *ngIf="logInForm.controls['email'].touched">
				<p class="error" *ngIf="logInForm.controls['email'].errors?.['required']"> *Dieses Feld ist ein Pflichtfeld.
				</p>
				<p class="error" *ngIf="logInForm.controls['email'].errors?.['pattern']"> *Diese E-Mail-Adresse ist ungültig.
				</p>
			</ng-container>
	</div>
	

	<div class="inputfield-wrapper">
		<mat-icon>lock_outline</mat-icon>
		<input formControlName="password" type="password" placeholder="Passwort">
		<ng-container *ngIf="logInForm.controls['password'].touched ">
			<p class="error" *ngIf="logInForm.controls['password'].errors?.['required']">*Dieses Feld ist ein Pflichtfeld.</p>
			<p class="error" *ngIf="logInForm.controls['password'].errors?.['minLength']"> *Passwort ist falsch.
			</p>
		</ng-container>
	</div>
	
</form>
<div class="text-btn" (click)="checkInSiteServiceService.changeCheckInSite('resetEmail')">Passwort vergessen?</div>
<div class="between-btns">
	<div class="line"></div>
	<p>oder</p>
</div>
<button class="google-log-in" (click)="googleLogIn()">
	<img src="assets/img/google.png" alt="">
	<p>Anmelden mit Google</p>
</button>
<div class="btn-wrapper">
	<button class="primary-btn" type="submit" [disabled]="!logInForm.valid" (click)="logIn(this.logInForm.value.email, this.logInForm.value.password)">Anmelden</button>
	<button class="secondary-btn" type="submit" routerLink="chat" (click)="logIn('gast@email.com','gast-Gast1')">Gäste-Login</button>
	</div>
	<div class="new-on-bubble">
		<p>Neu bei DABubble?</p>
		<div class="text-btn" (click)="checkInSiteServiceService.changeCheckInSite('signIn')">Konto erstellen</div>
	</div>
	<div class="spinner-wrapper" *ngIf="isLoggingIn">
		<mat-spinner class="spinner"></mat-spinner>
	</div>
	<div *ngIf="this.fireAuthService.errorMessage" class="fire-error-message">
  {{ this.fireAuthService.errorMessage }}
</div>




