<div class="pop-up-background" (click)="this.openedChannelService.openChatMembers = false">
	<div class="pop-up-container" (click)="$event.stopPropagation()">
		<div class="space-between">
			<h4>{{ this.openedChannelService.openedChannel.channelName }}-Channel-Mitglieder</h4>
			<mat-icon (click)="this.openedChannelService.openChatMembers = false" class="pointer">close</mat-icon>
		</div>
	 <ul class="members-wrapper">
			<ng-container *ngFor="let member of this.openedChannelService.openedChannel.members">
				<li class="member-container purple-hover pointer" (click)="openMemberProfile(member)">
					<div class="person-img-wrapper">
						<img src="{{ member.userImg }}" alt="">
						<div class="status-point" [ngClass]="{'online-point': member.userOnline, 'offline-point': !member.userOnline}"></div>
					</div>
					<p>{{ member.userName }}</p>
				</li>
			</ng-container>
			<li class="member-container purple-hover pointer" (click)="this.openedChannelService.openAddChatMembers = true">
				<mat-icon class="icon-background">person_add_alt</mat-icon>
				<p>Mitglieder hinzufügen</p>
			</li>
		</ul>
	</div>
</div>
