.thread-header-container {
	display: flex;
	justify-content: space-between;
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
	position: relative;
	z-index: 5;
	padding: var(--bodyPadding);
	max-height: var(--chatHeaderMaxWidth);
	overflow: hidden;
}

.header-text {
	display: flex;
}

.thread-content {
	padding: var(--bodyPadding);
	display: flex;
	flex-direction: column;
	gap: var(--bodyPadding);
	margin-bottom: var(--chatGap);
}

.thread-answer-line {
	display: flex;
	align-items: center;
	gap: var(--chatGap);

	p {
		width: max-content;
	}

	.line {
		flex: 1;
		height: 1px;
		background-color: var(--colorBackground);
	}


}
