	<div class="thread-header-container">
		<div class="header-text">
			<h4>Thread</h4>
			<mat-icon>numbers</mat-icon>
			Channelname
		</div>
		<mat-icon class="closeX" (click)="threadOpenCloseService.threadOpen = false" >close</mat-icon>
	</div>
	<div class="thread-content scrollbar-none">
		<app-thread-message-wrapper></app-thread-message-wrapper>
		<div class="thread-answer-line">
			<p>2 Antworten</p><div class="line"></div>
		</div>
		<app-message-wrapper></app-message-wrapper>
		<app-message-wrapper></app-message-wrapper>
	</div>


